*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    border: none;
    outline: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header,
footer,
section,
article,
aside,
nav,
figure,
figcaption {
    display: block;
}

fieldset {
    padding: 0;
    border: none;
}